* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background */
.main_bg {
    background-color: rgb(245, 251, 255);
}

header {
    background-color: white;
    height: 85px;
}

/* Logo style */
#logo {
    background-color: white;
    width: 55px;
    border: 1px white;
    margin: 15px;
    vertical-align: middle;
    margin-right: auto;
}

/* Title style */
#logotext {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 45px;
    vertical-align: middle;
}

/* Main section style */
main {
    background-color: white;
    width: 55%;
    height: 590px;
    border-radius: 1%;
    margin-top: 45px;
    margin-left: 21%;
    margin-bottom: 10px;
}